@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f2f5;
  }
  
  
  .main-content {
    width: 100%;
    display: flex;
    flex: 1;
    margin-top: 0px;
    background-color: rgb(240, 242, 245);
  }
  
  
  /*
  html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}*/
